<%- include("partials/header") %>

<!-- <% if(currentUser && currentUser.isAdmin) { %>
     <h1>You are an Admin!</h1>
<% } %> -->
<section id="home">
    <!-- background -->
    <!-- <video id="home-bg-video" poster="video/poster.jpg" autoplay muted loop>
        <source src="video/fb2.mp4" type="video/mp4">
        <source src="video/fb2.mp4" type="video/ogg">
        <source src="video/fb2.webm" type="video/webm">
    </video> -->
    <ul class="home-slideshow">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <!--Overlay-->
    <div id="home-overlay"></div>

    <!-- Home content-->

    <div id="home-content">

        <div id="home-content-inner" class="text-center">

            <div id="home-heading">

                <h1 id="home-heading-1"> Открийте нов</h1><br>
                <h1 id="home-heading-2"> начин да бъдете
                    <a href="#services"><b>ЗДРАВИ!</b></a>
                </h1>

            </div>
            <div class="home-btn">

                <a href="videoPopUp.html">
                    <div class="btn-PlayButton">

                    </div>
                </a>
                <p>
                    <a href="./videoPopUp.html" class="btn-PlayButton-Text"> 
                        <!-- <label>виж как го правим ние</label> -->
                </p>
            </div>
            <div></div>

        </div>
    </div>
    <div>
        
        <a href="#about" id="arrow-down">
            <i class="fa fa-angle-down"></i>
        </a>
    </div>

    <div class="container-fluid home-menu">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="home-stats-item text-center">
          
                        <h3 class="counter"> Индивидуална програма</h3>
                        <p>Търсите за програмата, която да постига вашите цели? Опитайте нашите услуги.</p>
                    </div >
    
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="home-stats-item text-center">
                
                        <h3 class="counter"> Персонални тренировки</h3>
                        <p>Програми за покачване на мускулна маса и дефиниця</p>
                        
                    </div >
    
                </div> 
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="home-stats-item text-center">
                
                        <h3 class="counter"> Възстановяване след травми</h3>
                        <p>Специализирана програма съобразена със здравословния проблем на клиента.</p>
                    </div >
                    <a class="btn btn-general btn-contact-us btn-green" href="#contact">Свържете се с нас</a>
                </div>
    
            </div>
        </div>

    </div>

</section>
<!-- Home page end -->

<!-- Info Start-->
<section id="info">

    <div id="info-01" style="flex-wrap: wrap;">

        <div class="content-box-lg">

            <div class="container-fluid">

                <div class="row">

                    <div class="col-md-4 infoText wow fadeInLeft" data-wow-duration="1s">
                        <h5>Кои сме ние?</h5>
                        <h1>Functional Bodies</h1> 
                        <p> Eкип, посветил знанията и уменията си на хората с една цел – <span class="infoSpan1">
                            "изграждане на балансиран и здравословен начин на живот".</span> <br>Всеки трябва да направи своя
                            избор. Тук помагаме на всеки да изгради не просто тялото си, а<span class="infoSpan2"> да намери себе
                                си.</span> <br> Хората, попаднали при нас, постигат своите резултати чрез осъзнато
                            движение, хранене и дишане, като <span class="infoSpan3">нашата реклама е <a href="#portfolio" title="Петър Герзилов" target="_parent">техният прогрес!</a></span>
                        </p>


                    </div>

                    <div class="col-md-8 infoIMG wow fadeInRight" data-wow-duration="1s">
                        <div id="about-right">
                            
                           
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>
</section>
<!-- Info End-->

<!-- About-->
<section id="about">
    <div class="container">
        <div class="tab-wrap content-box-md wow slideInDown">

            <input type="radio" id="tab1" name="tabGroup1" class="tab" checked>
            <label for="tab1">Иван Василев</label>

            <input type="radio" id="tab2" name="tabGroup1" class="tab">
            <label for="tab2">Иво Георгиев</label>

            <input type="radio" id="tab3" name="tabGroup1" class="tab">
            <label for="tab3">Емилия Василева</label>

            <input type="radio" id="tab4" name="tabGroup1" class="tab">
            <label for="tab4">Петър Герзилов</label>

            <div class="tab__content">
                <div id="about-tab-1">

                    <div class="container">

                        <div class="row">


                            <div class="col-md-12">

                                <div class="tab-bg text-left">

                                    <!-- <h2>Иван Василев</h2> -->
                                    <h3></h3>
                                    <div class="row">

                                        <div class="col-md-6">

                                            <img src="./img/Coaches/ivan/Functional Bodies19865.jpg" alt="team member"
                                                class="img-fluid teamPhoto">
                                            <!-- <div class="distortion"></div> -->

                                        </div>

                                        <div class="col-md-6">

                                            <!-- Services 01-->
                                            <div class="serviceTeam">
                                                <div class="row">

                                                    <div class="col-md-2">

                                                        <div class="icon text-right">

                                                            <i class="fas fa-brain"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-10 ">
                                                        <!--    <h5> Услуга 4</h5> -->
                                                        <h4> ОСНОВАТЕ И ГЛАВЕН ТРЕНЬОР НА Functional Bodies,</h4>
                                                        <p> приел за мисия да промени разбирането за здравословен начин
                                                            на живот.</p>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Services 01 End-->
                                            <!-- Services 02-->
                                            <div class="serviceTeam">
                                                <div class="row">

                                                    <div class="col-md-2">

                                                        <div class="icon text-right">

                                                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <!-- <h5> Услуга 5</h5> -->
                                                        <h4> СЕРТИФИЦИРАН В БЪЛГАРИЯ И ЧУЖБИНА КАТО ТРЕНЬОР</h4>
                                                        <p> от най-добрите системи за физическа и цялостна подготовка,
                                                            познати в съвремието, и с отношение и грижа към всеки около
                                                            него.</p>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Services 02 End-->
                                            <!-- Services 03-->
                                            <div class="serviceTeam">
                                                <div class="row">

                                                    <div class="col-md-2">

                                                        <div class="icon text-right">

                                                            <i class="fas fa-basketball-ball"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <!--    <h5> Услуга 6</h5> -->
                                                        <h4> ОТДАДЕН НА </h4>
                                                        <p> спорта, позитивните емоции и качествената храна</p>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Services 03 End-->

                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <div class="tab__content">
                <div id="about-tab-2">

                    <div class="container">

                        <div class="row">


                            <div class="col-md-12">

                                <div class="tab-bg text-left">

                                    <!-- <h2>Иво Георгиев</h2> -->
                                    <h3></h3>
                                    <div class="row">

                                        <div class="col-md-6">

                                            <img src="./img/Coaches/Ivo/Functional Bodies14883.jpg" alt="team member"
                                                class="img-fluid teamPhoto">
                                            <!-- <div class="distortion"></div> -->

                                        </div>
                                        <div class="col-md-6">

                                            <!-- Services 01-->
                                            <div class="serviceTeam">
                                                <div class="row">

                                                    <div class="col-md-2">

                                                        <div class="icon text-right">

                                                            <i class="fas fa-dumbbell"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <!--    <h5> Услуга 4</h5> -->
                                                        <h4> СИЛОВ И КОНДИЦИОНЕН ТРЕНЬОР КЪМ Functional Bodies,</h4>
                                                        <p> Превърнал движението на тялото в начин на живот</p>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Services 01 End-->
                                            <!-- Services 02-->
                                            <div class="serviceTeam">
                                                <div class="row">

                                                    <div class="col-md-2">

                                                        <div class="icon text-right">

                                                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <!-- <h5> Услуга 5</h5> -->
                                                        <h4> ПРЕМИНАЛ МНОЖЕСТВО ОБУЧЕНИЯ И СЕРТИФИКАЦИОННИ КУРСОВЕ</h4>
                                                        <p> в България и чужбина, за да бъде в крак със световните
                                                            тенденции в спорта, и с изключително прецизно отношение и
                                                            усмивка спрямо тренировъчния процес</p>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Services 02 End-->
                                            <!-- Services 03-->
                                            <div class="serviceTeam">
                                                <div class="row">

                                                    <div class="col-md-2">

                                                        <div class="icon text-right">

                                                            <i class="fas fa-hourglass-start"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <!--    <h5> Услуга 6</h5> -->
                                                        <h4> ПРИНЦИПИ:</h4>
                                                        <p>"Търпение, сила и … гимнастика"</p>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Services 03 End-->

                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- about end 02 -->
            </div>

            <div class="tab__content">
                <!-- about  03 -->

                <div id="about-tab-3">

                    <div class="container">

                        <div class="row">


                            <div class="col-md-12">

                                <div class="tab-bg text-left">

                                    <!-- <h2> Емилия Василева</h2> -->
                                    <h3></h3>
                                    <div class="row">

                                        <div class="col-md-6">

                                            <img src="./img/Coaches/emi/emi.jpg" alt="team member"
                                                class="img-fluid teamPhoto">
                                            <!-- <div class="distortion"></div> -->

                                        </div>
                                        <div class="col-md-6">

                                            <!-- Services 01-->
                                            <div class="serviceTeam">
                                                <div class="row">

                                                    <div class="col-md-2">

                                                        <div class="icon text-right">

                                                            <i class="fas fa-dumbbell"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <!--    <h5> Услуга 4</h5> -->
                                                        <h4> ТРЕНЬОР КЪМ Functional Bodies,</h4>
                                                        <p>Отдала се на функционалната подготовка и на това да помага на
                                                            хората в изграждането им като здрави индивиди.</p>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Services 01 End-->
                                            <!-- Services 02-->
                                            <div class="serviceTeam">
                                                <div class="row">

                                                    <div class="col-md-2">

                                                        <div class="icon text-right">

                                                            <i class="fas fa-utensils"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <!-- <h5> Услуга 5</h5> -->
                                                        <h4> ПРЕМИНАЛА ОБУЧЕНИЕ ПО СИСТЕМАТА НА Functional Bodies
                                                            Bulgaria </h4>
                                                        <p> и даваща безценни насоки за качествени хранителни планове.
                                                        </p>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Services 02 End-->
                                            <!-- Services 03-->
                                            <div class="serviceTeam">
                                                <div class="row">

                                                    <div class="col-md-2">

                                                        <div class="icon text-right">

                                                            <i class="fas fa-sun"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <!--    <h5> Услуга 6</h5> -->
                                                        <h4>ВИЗИЯ:</h4>
                                                        <p>„Намери качествен източник на енергия – движение. емоция,
                                                            храна!“</p>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Services 03 End-->

                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- about end 03 -->
            </div>

            <div class="tab__content">
                <!-- about  04 -->

                <div id="about-tab-4">

                    <div class="container">

                        <div class="row">


                            <div class="col-md-12">

                                <div class="tab-bg text-left">

                                    <!-- <h2>Петър Герзилов</h2> -->
                                    <h3></h3>
                                    <div class="row">

                                        <div class="col-md-6">

                                            <img src="./img/Coaches/petur/Functional Bodies19733.jpg" alt="team member"
                                                class="img-fluid teamPhoto ">
                                            <!-- <div class="distortion"></div> -->

                                        </div>
                                        <div class="col-md-6">

                                            <!-- Services 01-->
                                            <div class="serviceTeam">
                                                <div class="row">

                                                    <div class="col-md-2">

                                                        <div class="icon text-right">

                                                            <i class="fas fa-dumbbell"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <!--    <h5> Услуга 4</h5> -->
                                                        <h4> ТРЕНЬОР КЪМ Functional Bodies,</h4>
                                                        <p>посветил се на желанието да направи хората мобилни, здрави и
                                                            осъзнати за своето качествено съществуване.</p>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Services 01 End-->
                                            <!-- Services 02-->
                                            <div class="serviceTeam">
                                                <div class="row">

                                                    <div class="col-md-2">

                                                        <div class="icon text-right">

                                                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <!-- <h5> Услуга 5</h5> -->
                                                        <h4> ПРЕМИНАЛ ПРОФЕСИОНАЛНИ ОБУЧЕНИЯ </h4>
                                                        <p>по спортна подготовка и по системата на Functional Bodies,
                                                            търсещ винаги правилния начин за промяната на човека.</p>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Services 02 End-->
                                            <!-- Services 03-->
                                            <div class="serviceTeam">
                                                <div class="row">

                                                    <div class="col-md-2">

                                                        <div class="icon text-right">

                                                            <i class="fas fa-bullseye"></i>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-10">
                                                        <!--    <h5> Услуга 6</h5> -->
                                                        <h4>МОТО</h4>
                                                        <p>„Открий вътрешния си ритъм!“.</p>

                                                    </div>

                                                </div>

                                            </div>
                                            <!-- Services 03 End-->

                                        </div>


                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
                <!-- End about  04 -->

            </div>
        </div>

    </div>
    </div>

</section>
<!--About Ends-->
<!-- Portfolio -->
<section id="portfolio">

    <div class="content-box-md">

        <div class="container">

            <div class="row">

                <div class="col-md-12 wow slideInLeft">

                    <div class="vertical-heading">
                        <!-- <h5>Find Our Work</h5> -->
                        <h2>Резултатите <br> На Нашите Клиенти</h2>
                    </div>

                </div>

                <div class="col-md-12">

                    <!-- Portfolio Items Filters -->

                </div>

            </div>

        </div>

        <!-- Portfolio Items Wrapper -->
        <section id="portfolio-wrapper" class="wow fadeInUp shadow" data-wow-duration="1s" data-wow-delay=".5s">

            <div class="container-fluid ">

                <div class="row no-gutters ">



                    <div class="col-md-3 col-sm-6 col-xs-12 desktop ">

                        <!-- Portfolio Item 01 -->
                        <div class="portfolio-item">

                            <a href="/blog" title="Петър Герзилов" target="_blank">
                                <img src="img/Progression/001/002.JPG" class="img-fluid" alt="Петър Герзилов">

                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">

                                        <!-- Item Header -->
                                        <h3>Петър Герзилов</h3>

                                        <!-- Item Strips -->
                                        <span></span>

                                        <!-- Item Description -->
                                        <p>+16кг. Чиста Мускулна Маса</p>

                                    </div>

                                </div>
                            </a>

                        </div>

                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 web">
                        <!-- Portfolio Item 02 -->
                        <div class="portfolio-item">

                            <a href="/blog" title="Боряна Дамянова" target="_blank">
                                <img src="img/Progression/002/003.jpg" class="img-fluid" alt="Боряна Дамянова">

                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">

                                        <!-- Item Header -->
                                        <h3>Боряна Дамянова</h3>

                                        <!-- Item Strips -->
                                        <span></span>

                                        <!-- Item Description -->
                                        <p>от Бу до Бикини Фитнес</p>

                                    </div>

                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 web mobile logo">
                        <!-- Portfolio Item 03 -->
                        <div class="portfolio-item">

                            <a href="/blog" title="Петър Савов" target="_blank">
                                <img src="img/Progression/003/001.jpg" class="img-fluid" alt="Петър Савов">
                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>
                                            Петър Савов
                                        </h3>
                                        <!-- Item Strips -->
                                        <span></span>
                                        <!-- Item Description -->
                                        <p>
                                            НАЦИОНАЛЕН ВИЦЕ-ШАМПИОНИ ПО КОЛОЕЗДЕНЕ
                                        </p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 logo web">
                        <!-- Portfolio Item 04 -->
                        <div class="portfolio-item">

                            <a href="/blog" title="семейство Митови" target="_blank">
                                <img src="img/Progression/004/001.jpg" class="img-fluid" alt="семейство Митови">
                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>
                                            семейство Митови
                                        </h3>
                                        <!-- Item Strips -->
                                        <span></span>
                                        <!-- Item Description -->
                                        <p>
                                            Благодарим им, че са пример и за нас!
                                        </p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 logo desktop">
                        <!-- Portfolio Item 05 -->
                        <div class="portfolio-item">

                            <a href="/blog" title="Спас Николов" target="_blank">
                                <img src="img/Progression/006/001.jpg" class="img-fluid" alt="Спас Николов">
                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>
                                            Спас Николов
                                        </h3>
                                        <!-- Item Strips -->
                                        <span></span>
                                        <!-- Item Description -->
                                        <p>
                                            Спас е професионален баскетболист
                                        </p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 web">
                        <!-- Portfolio Item 06 -->
                        <div class="portfolio-item">

                            <a href="/blog" target="_blank">
                                <img src="img/Progression/005/001.jpg" class="img-fluid" alt="Анелия Каракостова">
                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>
                                            Анелия Каракостова
                                        </h3>
                                        <!-- Item Strips -->
                                        <span></span>
                                        <!-- Item Description -->
                                        <p>
                                            Тя дойде за да може да се движи без да се притеснява
                                        </p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6 col-xs-12 web mobile">
                        <!-- Portfolio Item 07 -->
                        <div class="portfolio-item">

                            <a href="/blog" title="Мадлен Димитрова" target="_blank">
                                <img src="img/Progression/007/001.jpg" class="img-fluid" alt="Мадлен Димитрова">

                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>
                                            Мадлен Димитрова
                                        </h3>
                                        <!-- Item Strips -->
                                        <span></span>
                                        <!-- Item Description -->
                                        <p>
                                            Реално тя е свалила 18кг. мазнини, като същевременно е качила 1.5кг. мускул!
                                        </p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-12 web mobile">
                        <!-- Portfolio Item 08 -->
                        <div class="portfolio-item">

                            <a href="/blog" title="Владимир Цанев" target="_blank">
                                <img src="img/Progression/008/001.jpg" class="img-responsive" alt="Владимир Цанев">
                                <div class="portfolio-item-overlay">
                                    <div class="portfolio-item-details text-center">
                                        <!-- Item Header -->
                                        <h3>
                                            Владимир Цанев
                                        </h3>
                                        <!-- Item Strips -->
                                        <span></span>
                                        <!-- Item Description -->
                                        <p>
                                            Той е свалил 10кг. мазнини и е качил точно 10кг. мускул!
                                        </p>
                                    </div>
                                </div>
                            </a>

                        </div>
                    </div>



                </div>



            </div>

        </section>

    </div>

</section>
<!-- Portfolio Ends -->

<!-- Services 01-->
<section id="services">
    <div id="services-01">
        <div class="content-box-lg">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 wow slideInLeft">

                        <div id="company-statement">

                            <div class="vertical-heading">
                                <!-- <h5>Find Our Work</h5> -->
                                <h2>Какво Правим <br> Нашите Услуги<br></h2>
                            </div>

                        </div>

                    </div>

                </div>


                <div class="row">

                    <div class="col-md-6 wow slideInUp" data-wow-duration="2s">

                        <!-- Services 01-->
                        <div class="service">
                            <div class="row">

                                <div class="col-md-2">

                                    <div class="icon text-right">

                                        <i class="fa fa-dumbbell"></i>
                                    </div>

                                </div>
                                <br>
                                <div class="col-md-10 text-service">
                                    <!-- <h5> Услуга 1</h5> -->
                                    <h4> Индивидуална програма</h4>
                                    <p>Създаване на индивидуална тренировъчна програма според нуждите на клиента с
                                        възможност за периодичен контрол на изпълнението ѝ.</p>

                                </div>

                            </div>

                        </div>
                        <!-- Services 01 End-->
                        <!-- Services 02-->
                        <div class="service">
                            <div class="row">

                                <div class="col-md-2">

                                    <div class="icon text-right">

                                        <i class="fas fa-running"></i>
                                    </div>

                                </div>
                                <div class="col-md-10 text-service">
                                    <!-- <h5> Услуга 2</h5> -->
                                    <h4> Персонални тренировки</h4>
                                    <p>Изграден персонален тренировъчен процес, изграден изцяло в синхрон с
                                        индивидуалните нужди на клиента, който получава постоянно наблюдение, насоки и
                                        указания за качественото изпълнение на целия цикъл на промяната.</p>

                                </div>

                            </div>

                        </div>
                        <!-- Services 02 End-->
                        <!-- Services 03-->
                        <div class="service">
                            <div class="row">

                                <div class="col-md-2">

                                    <div class="icon text-right">

                                        <i class="fas fa-user-md"></i>
                                    </div>

                                </div>
                                <div class="col-md-10 text-service">
                                    <!--    <h5> Услуга 4</h5> -->
                                    <h4> Хранителен план</h4>
                                    <p>
                                        <lable>
                                            Изготвяне на индивидуален хранителен план на база потребностите на всеки клиент.
                                        </lable>
                                    </p>


                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="col-md-6 wow slideInUp" data-wow-duration="2s">

                        <!-- Services 01-->
                        <div class="service">
                            <div class="row">

                                <div class="col-md-2">

                                    <div class="icon text-right">

                                        <i class="fas fa-utensils"></i>
                                    </div>

                                </div>
                                <div class="col-md-10 text-service">
                                    <!-- <h5> Услуга 3</h5> -->
                                    <h4>Възстановяване след травми</h4>
                                    <p>Изгражда се специализирана програма за възстановяване след травми, съобразена със
                                        здравословния проблем на клиента. Предвидени са консултации с кинезитерапевти,
                                        рехабилитатори и травматолози, наблюдаващи процеса и осигуряващи второ мнение.
                                    </p>

                                </div>

                            </div>

                        </div>




                        <!-- Services 01 End-->
                        <!-- Services 02-->
                        <div class="service">
                            <div class="row">

                                <div class="col-md-2">

                                    <div class="icon text-right">

                                        <i class="fas fa-child"></i>
                                    </div>

                                </div>
                                <div class="col-md-10 text-service">
                                    <!-- <h5> Услуга 5</h5> -->
                                    <h4> Функционален анализ</h4>
                                    <p>Това е необходимо изследване на физическите качества на клиента като мобилност,
                                        сила, гъвкавост и др., както и измерване на подкожни мазнини и дисбаланси на
                                        тялото.
                                    </p>

                                </div>

                            </div>

                        </div>
                        <!-- Services 02 End-->
                        <!-- Services 03-->
                        <div class="service">
                            <div class="row">

                                <div class="col-md-2">

                                    <div class="icon text-right">

                                        <i class="fas fa-bullseye"></i>
                                    </div>

                                </div>
                                <div class="col-md-10 text-service">
                                    <!--    <h5> Услуга 6</h5> -->
                                    <h4> Анализ на начина на живот</h4>
                                    <p>
                                        <label>
                                            Търсят се начини за промяна на ежедневието, необходими за изграждане на балансирана и здравословна средa на живот. 
                                        </label>
                                        
                                    </p>

                                </div>

                            </div>

                        </div>
                        <!-- Services 03 End-->

                    </div>


                </div>

            </div>



        </div>

    </div>
</section>
<!-- Services End -->


<!-- Blog -->
<section id="blog">

    <div class="content-box-md">

        <div class="container">

            <div class="row">

                <div class="col-md-5 col-sm-4 wow slideInLeft">

                    <div id="blog-left">

                        <div class="vertical-heading">
                            <!-- <h5>Latest News</h5> -->
                            <h2>Нашият<br>Blog</h2>
                        </div>
                        <p>Тук ще откриете подробна информация по теми, които екипът на Functional Bodies смята за
                            есенциални за Вашето здраве.</p>

                        <div id="blog-btn">
                            <a class="btn btn-general btn-color" href="/blog" title="View All Posts" role="button">Към
                                всички статии</a>
                        </div>

                    </div>

                </div>

                <div class="col-md-7 col-sm-8">

                    <div class="row wow fadeInUp" data-wow-duration="1s">
                        <% blog.reverse().slice(0, 2).forEach(function(blog){  %>
                        <div class="col-md-6 col-sm-6">

                            <!-- Blog Post 01 -->
                            <div class="blog-post">

                                <h4 class="shadow"> <%= blog.name.substring(0,70) %> </h4><br>
                                <p class="blogTEXT"> <%= blog.description.substring(0,300) %></p>
                                <a href="/blog/<%= blog._id %>">Read More ></a>

                                <!-- <div class="post-meta">
                                    <div class="row">

                                        <div class="col-md-6 col-sm-8 col-xs-5">
                                            <p><img src="./img/Coaches/ivan/Functional Bodies19853.jpg" alt="author"
                                                    class="img-circle" height="27" width="27"> Иван Василев</p>
                                        </div>
                                        <div class="col-md-6 col-sm-4 col-xs-7">
                                            <p class="text-right">Ноеври 11, 2019</p>
                                        </div>

                                    </div>

                                </div> -->

                            </div>

                        </div>

                        <% }) %>
                        <div class="col-md-6 col-sm-6">

                            <!-- Blog Post 02 -->
                            <!-- <div class="blog-post shadow">
  
                                      <h4 class="shadow"> 60 секунди вода </h4><br>
                                      <p> Дали хората се замислят колко време отнема да бъде изпита една глътка
                                            вода? Странно е, но сред милионите изследвания, които съществуват в съвремието,
                                            това е от малкото действия, неоткрили своя научен отговор.</p>
                                      <a href="/blog">Read More ></a>
  
                                      <div class="post-meta">
                                          <div class="row">
  
                                              <div class="col-md-6 col-sm-8 col-xs-5">
                                                  <p><img src="./img/Coaches/ivan/Functional Bodies19865.jpg" alt="author" class="img-circle" height="27" width="27" > Иван Василев</p>
                                              </div>
                                              <div class="col-md-6 col-sm-4 col-xs-7">
                                                  <p class="text-right">Ноеври 11, 2019</p>
                                              </div>
  
                                          </div>
  
                                      </div>
  
                                  </div> -->

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- Blog Ends -->
<!-- Stats -->
<section id="stats">

    <div class="content-box-md">

        <div class="container">

            <div class="row">

                <div class="col-md-12 wow ">

                    <div class="vertical-heading">
                        <!-- <h5>Fun Facts</h5> -->
                        <h2>Малко<br>повече за нас</h2>
                    </div>

                </div>

            </div>

            <div class="row wow ">

                <div class="col-md-4 col-sm-4 col-xs-6">

                    <!-- Stats Item 01 -->
                    <div class="stats-item text-center">
                        <i class="fa fa-spinner" aria-hidden="true"></i>
                        <h3 class="counter"> над 11</h3>
                        <p>години опит</p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">

                    <!-- Stats Item 02 -->
                    <div class="stats-item text-center">
                        <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        <h3 class="counter">над 50</h3>
                        <p>сертификата</p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">

                    <!-- Stats Item 03 -->
                    <div class="stats-item text-center">
                        <i class="fa fa-users"></i>
                        <h3 class="counter">повече от 600</h3>
                        <p>доволни клиента</p>
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- Stats Ends -->
<!--Statement -->
<section id="statement" class="shadow">

    <div class="content-box-md">

        <div class="container ">

            <div class="row">

                <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">

                    <div id="company-statement" class="text-center">

                        <h3> <i class="fa fa-quote-left"></i> Да си здрав и силен не е каприз, <br>това е начин на живот
                            <i class="fa fa-quote-right"></i> </h3>
                        <p> Иван Василев </p>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<!--Statement End-->
<!--Team -->
<section id="team">

    <div class="content-box-lg wow slideInUp" data-wow-duration="1.5s">

        <div class="container-fluid">

            <!-- Team members -->
            <div class="row">

                <div class="col-md-12">

                    <div id="team-members">

                        <!-- Member 1 -->
                        <div class="team-member">

                            <img src="./img/Coaches/ivan/Functional Bodies19865.jpg" alt="team member" width="256"
                                class="img-fluid">

                            <div class="team-member-overlay">

                                <div class="team-member-info text-center">

                                    <h6> Иван Василев</h6>
                                    <p>CEO at Functional Bodies</p>

                                    <ul class="social-list">
                                        <li>
                                            <a href="https://www.facebook.com/howtotrainbg/" target="_blank"><i
                                                    class="fab fa-facebook-square"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/coachvasilev/" target="_blank"><i
                                                    class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>

                                </div>

                            </div>

                        </div>
                        <!-- Member 2 -->
                        <div class="team-member">

                            <img src="./img/Coaches/Ivo/Functional Bodies14883.jpg" alt="team member" width="256"
                                class="img-fluid">

                            <div class="team-member-overlay">

                                <div class="team-member-info text-center">

                                    <h6> Иво Георгиев</h6>
                                    <p>Strength and Conditioning Coach</p>
                                    <ul class="social-list">
                                        <li>
                                            <a href="https://www.facebook.com/ivo.georgiev.7" target="_blank"><i
                                                    class="fab fa-facebook-square"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/ivo_g87/" target="_blank"><i
                                                    class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>

                                </div>

                            </div>

                        </div>
                        <!-- Member 3 -->
                        <div class="team-member">

                            <img src="./img/Coaches/emi/emi.jpg" alt="team member" width="256" class="img-fluid ">

                            <div class="team-member-overlay">

                                <div class="team-member-info text-center">

                                    <h6>Емилия Василева</h6>
                                    <p>Strength and Conditioning Coach</p>

                                    <ul class="social-list">
                                        <li>
                                            <a href="https://www.facebook.com/emilia.kuzmanova" target="_blank"><i
                                                    class="fab fa-facebook-square"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/emilia.kuzmanova/" target="_blank"><i
                                                    class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>

                                </div>

                            </div>

                        </div>
                        <!-- Member 4 -->
                        <div class="team-member">

                            <img src="./img/Coaches/petur/Functional Bodies19733.jpg" alt="team member" width="256"
                                class="img-fluid">

                            <div class="team-member-overlay">

                                <div class="team-member-info text-center">

                                    <h6>Петър Герзилов</h6>
                                    <p>Strength and Conditioning Coach</p>

                                    <ul class="social-list">
                                        <li>
                                            <a href="https://www.facebook.com/petar.gerzilov" target="_blank"><i
                                                    class="fab fa-facebook-square"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/peter.gerz/" target="_blank"><i
                                                    class="fab fa-instagram"></i></a>
                                        </li>
                                    </ul>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

    </div>

</section>
<!--Team End -->


<!-- Contact -->
<section id="contact">

    <div class="content-box-md">

        <div class="container">

            <div class="row">

                <div class="col-md-6 wow fadeInUp" data-wow-duration="1s">

                    <!-- Contact Left -->
                    <div id="contact-left">

                        <div class="vertical-heading">
                            <!-- <h5>Where are we </h5> -->
                            <h2>Свържете се с нас</h2>
                        </div>
                        <p>За връзка с екипа на Functional Bodies, въпроси и лична среща с цел консултация:</p>

                        <div id="offices">

                            <div class="row">

                                <div class="col-md-6 wow fadeInUp" data-wow-duration="1s">

                                    <div class="office">
                                        <h4>София, България</h4>
                                        <ul class="office-details">
                                            <li><i class="fa fa-mobile"></i><span>
                                                    <a href="tel:+(359)87 816 1637">+(359)87 816 1637 </a>
                                                </span></li>
                                            <li><i class="fa fa-envelope "></i><span><a
                                                        href="mailto:functionalbodiesbg@gmail.com">functionalbodiesbg@gmail.com</a></span>
                                            </li>
                                            <li><i class="fa fa-map-marker"></i><span>бул. Цариградско шосе 125<br>София
                                                    България</span></li>
                                        </ul>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <ul class="social-list">
                            <li><a href="https://www.facebook.com/functionalbodiesbg/" target="_parent"><i
                                        class="fab fa-facebook-square"></i></a></li>
                            <li><a href="https://www.instagram.com/functionalbodiesbg/" target="_parent"><i
                                        class="fab fa-instagram"></i></a></li>
                            <li> <a href="https://www.youtube.com/channel/UC2WmMlDwRFi8rYCZRGkhG1g"  target="_parent"><i
                                class="fab fa-youtube side-icon" aria-hidden="true"></i></li>
                        </ul>

                    </div>

                </div>
                <div class="col-md-6 wow zoomIn" data-wow-duration="1s">

                    <!-- Contact Right -->
                    <!-- Google Map -->
                    <section id="google-map ">

                        <a href="https://www.google.com/maps/place/Academica+Gym/@42.6755921,23.3640954,17z/data=!4m13!1m7!3m6!1s0x40aa85daba8c9633:0x70c61bcfdbc72ac0!2zQm91bGV2YXJkICJUc2FyaWdyYWRza28gc2hvc2UiIDEyNSwgMTExMyDQkdCQ0J0gSVYg0LrQvC4sIFNvZmlh!3b1!8m2!3d42.6735649!4d23.364782!3m4!1s0x0:0x729657173a4828b6!8m2!3d42.6758415!4d23.3650339"
                            target="_parent">
                            <img src="img/Maps/mapAcademica.JPG" class="img-fluid">
                        </a>

                    </section>
                    <!-- Google Map Ends -->

                </div>

            </div>

        </div>

    </div>

</section>
<!-- Contact Ends -->

<%- include("partials/footer") %>