<%- include("partials/header") %>

<!-- <% if(currentUser && currentUser.isAdmin) { %>
     <h1>You are an Admin!</h1>
<% } %> -->
<div class='cookie-banner' style='display: none'>
    <p>
        By using our website, you agree to our
        <a href='/'>cookie policy</a>
    </p>
    <button class='close'>Приемам</button>
</div>
<section id="home">
    <!-- background -->


    <!-- Home content-->

    <div id="home-content">
        <div id="home-overlay"></div>
        <div id="home-content-inner" class="text-center">

            <div id="home-heading">

                <h1 id="home-heading-1"> Открийте нов</h1><br>
                <h1 id="home-heading-2"> начин да бъдете
                    <a href="#"><b>ЗДРАВИ!</b></a>
                </h1>

            </div>
            <div></div>

        </div>
    </div>
    <div>

        <a href="#homeNew" id="arrow-down">
            <i class="fa fa-angle-down"></i>
        </a>
    </div>



</section>
<!-- Home page end -->
<section id="homeNew">
    <div class="content-box-md">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="home-stats-item text-center">
                        <img src="/img/Icons/individual_program_icon.svg" alt="ИНДИВИДУАЛНА ПРОГРАМА" class="img-fluid" width=60>
                        <h3 class="counter"> ИНДИВИДУАЛНА ПРОГРАМА</h3>
                        <p>Търсите за програмата, която да постига вашите цели? Опитайте нашите услуги.</p>
                    </div>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="home-stats-item text-center">
                        <img src="/img/Icons/personal_traning_icon.svg"  alt="ПЕРСОНАЛНИ ТРЕНИРОВКИ " class="img-fluid" width=60>
                        <h3 class="counter"> ПЕРСОНАЛНИ ТРЕНИРОВКИ</h3>
                        <p>Програми за покачване на мускулна маса и дефиниця</p>

                    </div>

                </div>
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="home-stats-item text-center">
                        <img src="/img/Icons/recovery.svg"  alt="ВЪЗСТАНОВЯВАНЕ" class="img-fluid" width=60>
                        <h3 class="counter"> ВЪЗСТАНОВЯВАНЕ</h3>
                        <p>Специализирана програма съобразена със здравословния проблем на клиента.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="team">
    <h3 class="team-logo-h3">ЗАПОЗНАЙ СЕ С ЕКИПА</h3>
    <h1 class="team-logo-h1">ЗАГЛАВИЕ ТУК</h1>
    <div class="content-box-md">

        <div class="container">
            <div class="row">
               
                <!-- Team members 1 -->
               
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="team-member">

                        <img src="/img/Coaches/ivan/Functional Bodies1.JPG" alt="team member" class="img-fluid">

                        <div class="team-member-overlay">

                            <div class="team-member-info text-center">
                                <p>
                                    Основател и главен треньор на Functional Bodies, приел за мисия да промени разбирането за здравословен начин на живот                             
                              </p>
                                <p>
                                   Сертифициран в България и чужбина като треньор от най-добрите системи за физическа и цялостна подготовка , познати в съвремието, и с отношение и грижа към всеки около него
                                </p>
                                <p>
                                    ОТДАДЕН НА СПОРТА, ПОЗИТИВНИТЕ ЕМОЦИИ И КАЧЕСТВЕНАТА ХРАНА
                                </p>
                                <!-- <h6> Иван Василев</h6>
                                <p>CEO at Functional Bodies</p>

                                <ul class="social-list">
                                    <li>
                                        <a href="https://www.facebook.com/howtotrainbg/" target="_blank"><i
                                                class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/coachvasilev/" target="_blank"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                </ul> -->

                            </div>

                        </div>

                    </div>
                    <h3 class="team-member-h3"> HEAD COACH </h3>
                    <h1 class="team-member-h1">ИВАН ВАСИЛЕВА</h1>
                </div>
                <!-- Team members 2 -->
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="team-member">

                        <img src="/img/Coaches/Ivo/Functional Bodies2.JPG" alt="team member" 
                            class="img-fluid">

                        <div class="team-member-overlay">

                            <div class="team-member-info text-center">

                                <!-- <h6> Иво Георгиев</h6> -->
                                <p>
                                    Превърнал движението на тялото в начин на живот
                                </p>
                                <p>
                                    ПРЕМИНАЛ МНОЖЕСТВО ОБУЧЕНИЯ И СЕРТИФИКАЦИОННИ КУРСОВЕ<br> в България и чужбина, за да бъде в крак със световните тенденции в спорта, и с изключително прецизно отношение и усмивка спрямо тренировъчния процес
                                </p>
                                <p>
                                    ПРИНЦИПИ:<br> "Tърпение, сила и … гимнастика"
                                </p>
                                <!-- <ul class="social-list">
                                    <li>
                                        <a href="https://www.facebook.com/ivo.georgiev.7" target="_blank"><i
                                                class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/ivo_g87/" target="_blank"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                </ul> -->

                            </div>

                        </div>

                    </div>
                    <h3 class="team-member-h3"> СИЛОВ И КОНДИЦИОНЕН ТРЕНЬОР </h3>
                    <h1 class="team-member-h1">ИВО ГЕОРГИЕВ</h1>
                </div>
                      <!-- Team members 3 -->
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <div class="team-member">

                        <img src="/img/Coaches/petur/Functional Bodies3-pepi.JPG" alt="team member" 
                            class="img-fluid">

                        <div class="team-member-overlay">

                            <div class="team-member-info text-center">
                                <p>
                                    Посветил се на желанието да направи хората мобилни, здрави и осъзнати за своето качествено съществуване
                                </p>
                                <p>
                                    ПРЕМИНАЛ ПРОФЕСИОНАЛНИ ОБУЧЕНИЯ ПО СПОРТНА ПОДГОТОВКА И ПО СИСТЕМАТА НА Functional Bodies, търсещ винаги правилния начин за промяната на човека
                                </p>
                                <p>
                                    МОТО:<br> "Открий вътрешния си ритъм!"
                                </p>
                                <!-- <h6>Петър Герзилов</h6>
                                <p>Strength and Conditioning Coach</p>

                                <ul class="social-list">
                                    <li>
                                        <a href="https://www.facebook.com/petar.gerzilov" target="_blank"><i
                                                class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/peter.gerz/" target="_blank"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                </ul> -->

                            </div>

                        </div>
                        
                    </div>
                    <h3 class="team-member-h3"> ТРЕНЬОР </h3>
                    <h1 class="team-member-h1">ПЕТЪР ГЕРЗИЛОВ</h1>
                </div>
                      <!-- Team members 4 -->
                      <div class="col-md-4"></div>
                <div class="col-md-4">
                    <div class="team-member">

                        <img src="./img/Coaches/emi/emi.jpg" alt="team member" class="img-fluid ">

                        <div class="team-member-overlay">

                            <div class="team-member-info text-center">
                                <p>
                                    Отдала се на функционалната подготовка и на това да помага на хората в изграждането им като здрави индивиди
                                </p>
                                <p>
                                    ПРЕМИНАЛА ОБУЧЕНИЕ ПО СИСТЕМАТА НА Functional Bodies Bulgaria и даваща безценни насоки за качествени хранителни планове
                                </p>
                                <p>
                                    Визия:<br> "Намери качествен източник на енергия – движение. емоция, храна!"
                                </p>
                                <!-- <h6>Емилия Василева</h6>
                                <p>Strength and Conditioning Coach</p>

                                <ul class="social-list">
                                    <li>
                                        <a href="https://www.facebook.com/emilia.kuzmanova" target="_blank"><i
                                                class="fab fa-facebook-square"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/emilia.kuzmanova/" target="_blank"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                </ul> -->

                            </div>

                        </div>
                        
                    </div>
                    <h3 class="team-member-h3"> ТРЕНЬОР </h3>
                    <h1 class="team-member-h1">ЕМИЛИЯ ВАСИЛЕВА</h1>
                    <div class="col-md-4"></div>



            </div>
        </div>

    </div>

    </div>

</section>
<!--Team End -->


<!-- Blog -->
<section id="blog">

    <div class="content-box-md">

        <div class="container">

            <div class="row">

                <div class="col-md-5 col-sm-4 wow slideInLeft">

                    <div id="blog-left">

                        <div class="vertical-heading">
                            <!-- <h5>Latest News</h5> -->
                            <h2>Нашият<br>Blog</h2>
                        </div>
                        <p>Тук ще откриете подробна информация по теми, които екипът на Functional Bodies смята за
                            есенциални за Вашето здраве.</p>

                        <div id="blog-btn">
                            <a class="btn btn-general btn-color" href="/blog" title="View All Posts" role="button">Към
                                всички статии</a>
                        </div>

                    </div>

                </div>

                <div class="col-md-7 col-sm-8">

                    <div class="row wow fadeInUp" data-wow-duration="1s">
                        <% blog.reverse().slice(0, 2).forEach(function(blog){  %>
                        <div class="col-md-6 col-sm-6">

                            <!-- Blog Post 01 -->
                            <div class="blog-post">

                                <h4 class="shadow"> <%= blog.name.substring(0,70) %> </h4><br>
                                <p class="blogTEXT"> <%= blog.description.substring(0,300) %></p>
                                <a href="/blog/<%= blog._id %>">Read More ></a>

                                <!-- <div class="post-meta">
                                    <div class="row">

                                        <div class="col-md-6 col-sm-8 col-xs-5">
                                            <p><img src="./img/Coaches/ivan/Functional Bodies19853.jpg" alt="author"
                                                    class="img-circle" height="27" width="27"> Иван Василев</p>
                                        </div>
                                        <div class="col-md-6 col-sm-4 col-xs-7">
                                            <p class="text-right">Ноеври 11, 2019</p>
                                        </div>

                                    </div>

                                </div> -->

                            </div>

                        </div>

                        <% }) %>

                    </div>

                </div>

            </div>

        </div>

    </div>

</section>
<!-- Blog Ends -->





<!-- Contact -->
<section id="contact">

    <div class="content-box-md">

        <div class="container">

            <div class="row">

                <div class="col-md-6 wow fadeInUp" data-wow-duration="1s">

                    <!-- Contact Left -->
                    <div id="contact-left">

                        <div class="vertical-heading">
                            <!-- <h5>Where are we </h5> -->
                            <h2>Свържете се с нас</h2>
                        </div>
                        <p>За връзка с екипа на Functional Bodies, въпроси и лична среща с цел консултация:</p>

                        <div id="offices">

                            <div class="row">

                                <div class="col-md-6 wow fadeInUp" data-wow-duration="1s">

                                    <div class="office">
                                        <h4>София, България</h4>
                                        <ul class="office-details">
                                            <li><i class="fa fa-mobile"></i><span>
                                                    <a href="tel:+(359)87 816 1637">+(359)87 816 1637 </a>
                                                </span></li>
                                            <li><i class="fa fa-envelope "></i><span><a
                                                        href="mailto:functionalbodiesbg@gmail.com">functionalbodiesbg@gmail.com</a></span>
                                            </li>
                                            <li><i class="fa fa-map-marker"></i><span>бул. Цариградско шосе 125<br>София
                                                    България</span></li>
                                        </ul>
                                    </div>

                                </div>

                            </div>

                        </div>

                        <ul class="social-list">
                            <li><a href="https://www.facebook.com/functionalbodiesbg/" target="_parent"><i
                                        class="fab fa-facebook-square"></i></a></li>
                            <li><a href="https://www.instagram.com/functionalbodiesbg/" target="_parent"><i
                                        class="fab fa-instagram"></i></a></li>
                            <li> <a href="https://www.youtube.com/channel/UC2WmMlDwRFi8rYCZRGkhG1g" target="_parent"><i
                                        class="fab fa-youtube side-icon" aria-hidden="true"></i></li>
                        </ul>

                    </div>

                </div>
                <div class="col-md-6 wow zoomIn" data-wow-duration="1s">

                    <!-- Contact Right -->
                    <!-- Google Map -->
                    <section id="google-map ">

                        <a href="https://www.google.com/maps/place/Academica+Gym/@42.6755921,23.3640954,17z/data=!4m13!1m7!3m6!1s0x40aa85daba8c9633:0x70c61bcfdbc72ac0!2zQm91bGV2YXJkICJUc2FyaWdyYWRza28gc2hvc2UiIDEyNSwgMTExMyDQkdCQ0J0gSVYg0LrQvC4sIFNvZmlh!3b1!8m2!3d42.6735649!4d23.364782!3m4!1s0x0:0x729657173a4828b6!8m2!3d42.6758415!4d23.3650339"
                            target="_parent">
                            <img src="img/Maps/mapAcademica.JPG" class="img-fluid">
                        </a>

                    </section>
                    <!-- Google Map Ends -->

                </div>

            </div>

        </div>

    </div>

</section>
<!-- Contact Ends -->

<%- include("partials/footer") %>